* {
    color: white;
}

body {
    height: 100dvh;
    width: 100dvw;
    background-color: #010d26;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: fit-content;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}


body { 
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow-y: hidden;
 }
 html { 
    overflow-y: scroll;
    height: fit-content;
 }
 






header,
#bottomBit,
#mainSecRight {
    pointer-events: none;
}

header *,
#bottomBit *,
#mainSecRight * {
    pointer-events: auto;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

header,
#bottomBit,
footer {
    position: relative;
    z-index: 1;
}





header {
    margin-top: 5dvh;
}

#topNav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 5dvh;
    align-items: center;
    background: linear-gradient(to bottom, #0b344d, transparent);
    z-index: 10000;
}

#navSecLeft {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#navSecLeft #pfp {
    margin-left: 3rem;
    width: 30px;
    height: 30px;
    background-color: #455d73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pfp img {
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#navSecRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 100%;

    gap: 2rem;
}

#navSecRight a:last-of-type {
    margin-right: 3rem;
}


footer {
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #03223f;
    width: 100dvw;
    height: 20dvh;
}

footer nav {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 33.33dvw;
    height: 100%
}

footer nav a {
    padding-left: 5rem;
    text-decoration: none;
}

.footerLogoSection {
    width: 33.33dvw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerEmailSection {
    width: 33.33dvw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footerLogoSection a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerLogoSection img {
    width: 30%;
}