body {
  height: fit-content;
  width: 100dvw;

}

header {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
  text-align: center;
}

#image-track {
  margin-left: 10rem;
  margin-top: 50dvh;
  display: flex;
  gap: 4vmin;
  user-select: none;
  /* -- Prevent image highlighting -- */
  transform: translate(0%, -50%);
}

#image-track>.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}



.cropped {
  width: 300px;
  height: 300px;
  overflow: hidden;
  transform: rotate(45deg);

}


#portSeparator {
  width: 100dvw;
  height: 50dvh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;

}

